.content {
    display: grid;
    grid-template-rows: auto 1fr;
    min-width: 900px;
    max-width: 1440px;
    gap: 20px;
}

.project-buttons-container {
    display: grid;
    grid-template-columns: 1fr repeat(2, auto);
    gap: 10px;
}

.project-buttons-container > button {
    font-size: 1.4rem;
    text-align: center;
    width: 2.4rem;
    height: 2.4rem;
    border: none;
    border-radius: 9999px;
    color: white;
    background-color: #bebebe;
}

.project-buttons-return-to-list:hover {
    background-color: #3ea4d3;
}
.project-buttons-return-to-list:active {
    background-color: #2082af;
}
.project-buttons-new-to-do-item:hover {
    background-color: #47d147;
}
.project-buttons-new-to-do-item:active {
    background-color: #22ad22;
}
.project-buttons-sort-to-do-items:hover {
    background-color: #d3b221;
}
.project-buttons-sort-to-do-items:active {
    background-color: #bb9c13;
}

.project-to-do-items-container {
    display: grid;
    grid-template-rows: auto;
    align-content: start;
    gap: 10px;
}

.to-do-item {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    background-color: #d8d8d8;
    padding: 0.2rem 0.4rem 0.2rem 1rem;
    gap: 10px;
}

.to-do-item-name {
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.to-do-item-due-date {
    justify-self: end;
    font-size: 0.8rem;
    color: rgb(70, 70, 70);
    white-space: nowrap;
}

.to-do-item-priority {
    display: flex;
    flex-wrap: nowrap;
}
.to-do-item-priority-star {
    font-size: 1.2rem;
    margin: 0px -4px;
}
.to-do-item-priority-star-on {
    color: gold;
}
.to-do-item-priority-star-off {
    color: rgb(70, 70, 70);
}
