.header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.project-name-label {
    font-size: 1.8rem;
    align-self: center;
}
.project-name-label::before {
    position: absolute;
    font-size: 0.6rem;
    white-space: nowrap;
    color: transparent;
    content: attr(help);
    font-weight: normal;
    top: 1.4rem;
}
.project-name-input {
    text-align: center;
    vertical-align: middle;
    font-family: var(--nunito-font-family);
    font-size: 1.2rem;
    color: rgb(50, 50, 50);
    background-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: 1px solid rgb(70, 70, 70);
    border: none;
    border-radius: 0.2rem;
    width: min(500px, calc(100% - 2rem));
    margin-left: 0.3rem;
}
.project-name-input:hover {
    outline: 2px solid rgb(70, 70, 70);
}
.project-name-input:focus {
    background-color: rgba(0, 0, 0, 0.04);
    outline: 2px solid rgb(70, 70, 70);
}
.project-name-input:focus:invalid,
.project-name-input:not(:placeholder-shown):invalid,
.project-name-input.name-taken {
    outline-color: red;
    background-color: rgba(255, 106, 106, 0.18);
    border-color: red;
}
.project-name-label {
    position: relative;
}
.project-name-label::before {
    font-family: var(--nunito-font-family);
    position: absolute;
    font-size: 0.7rem;
    font-weight: normal;
    white-space: nowrap;
    color: transparent;
    content: attr(help);
    top: 2.7rem;
    left: 2.0rem;
}
.project-name-input:not(:placeholder-shown).name-taken + .project-name-label::before {
    color: red;
}

.to-do-list-container {
    display: grid;
    justify-content: center;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(900px, 1280px);
    gap: 20px;
}

.project-buttons-container {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    gap: 10px;
    height: 2.4rem; /* Set manual height so sort drop-down menu will overflow vertically while retaining horizontal position */
}

.project-buttons-container > button {
    font-size: 1.4rem;
    text-align: center;
    width: 2.4rem;
    height: 2.4rem;
    border: none;
    border-radius: 9999px;
    color: rgb(122, 122, 122);
    background-color: #ffffff;
}

.project-buttons-return-to-list:hover {
    color: rgb(236, 236, 236);
    background-color: #3ea4d3;
    box-shadow: 0px 4px 5px -0px rgba(128, 128, 128, 0.3);
}
.project-buttons-return-to-list:active {
    color: rgb(236, 236, 236);
    background-color: #2082af;
}
.project-buttons-new-to-do-item:hover {
    color: rgb(236, 236, 236);
    background-color: #47d147;
    box-shadow: 0px 4px 5px -0px rgba(128, 128, 128, 0.3);
}
.project-buttons-new-to-do-item:active {
    color: rgb(236, 236, 236);
    background-color: #22ad22;
}
.project-buttons-sort-to-do-items:hover {
    color: rgb(236, 236, 236);
    background-color: #ecc825;
    box-shadow: 0px 4px 5px -0px rgba(128, 128, 128, 0.3);
}
.project-buttons-sort-to-do-items:active {
    color: rgb(236, 236, 236);
    background-color: #d1af15;
}
.project-buttons-refresh-to-do-items:hover {
    color: rgb(236, 236, 236);
    background-color: #fa8bde;
    box-shadow: 0px 4px 5px -0px rgba(128, 128, 128, 0.3);
}
.project-buttons-refresh-to-do-items:active {
    color: rgb(236, 236, 236);
    background-color: #d64ab3;
}

.project-buttons-sort-to-do-items,
.to-do-items-sort-menu {
    grid-area: 1 / 4 / 2 / 5;
}
.to-do-items-sort-menu {
    display: none;
}
.to-do-items-sort-menu.open {
    display: grid;
    grid-template-rows: auto;
    font-family: var(--nunito-font-family);     
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;                        
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0px 4px 5px -0px rgba(128, 128, 128, 0.3);
    padding: 0.5rem 0.7rem;
    z-index: 1;
}
.to-do-items-sort-menu-order-list {
    display: grid;
    grid-template-rows: auto;
    gap: 0.1rem;
}
.to-do-items-sort-menu-order-list-item.not-sorting {
    display: none;
}
.to-do-items-sort-menu-order-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--nunito-font-family);                            
    font-size: 0.7rem;
    outline: none;
    border: none;
    border-radius: 9999px;
    background-color: rgb(219, 219, 219);
    padding: 0.1rem 0.3rem;
}
.to-do-items-sort-menu-order-list-item-remove-button {
    font-size: 0.7rem;
    font-weight: bold;
    color: white;
    background-color: #6e6e6e;
    outline: none;
    border: none;
    border-radius: 9999px;
    width: 0.8rem;
    height: 0.8rem;
    padding: 0px;
}
.to-do-items-sort-menu-order-list-item-remove-button:hover {
    background-color: #f54e4e;
}
.to-do-items-sort-menu-order-list-item-remove-button:active {
    background-color: #c51717;
}
.to-do-items-sort-menu-separator {
    justify-self: center;
    border-radius: 9999px;
    width: 104%;
    height: 2px;
    background-color: #dadada;
    margin-bottom: 4px;
}
.to-do-items-sort-menu-options {
    display: grid;
    grid-template-rows: auto;
}
.to-do-items-sort-menu-group {
    font-family: var(--nunito-font-family);                            
    font-size: 0.7rem;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 0.4rem;
}
.to-do-items-sort-menu-type {
    font-family: var(--nunito-font-family);                            
    font-size: 0.8rem;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 9999px;
    background-color: transparent;
    padding: 0.1rem 0.5rem;
}
.to-do-items-sort-menu-type.current-sort {
    background-color: #df9d24;
}
.to-do-items-sort-menu-type:hover {
    background-color: #ecc825;
}
.to-do-items-sort-menu-type:active {
    background-color: #d1af15;
}

.project-to-do-items-container {
    display: grid;
    grid-template-rows: auto;
    align-content: start;
    gap: 10px;
}

.to-do-item {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    gap: 0.4rem 0.4rem;
}

.overdue > .to-do-item-top-bar-information,
.overdue > .to-do-item-expanded-information {
    background-color: #fce1e1;
}
.to-do-item.newly-created-item > .to-do-item-top-bar-information,
.to-do-item.newly-created-item > .to-do-item-expanded-information {
    background-color: #e1f3c4;
}
.completed-item > .to-do-item-top-bar-information,
.completed-item > .to-do-item-expanded-information {
    background-color: #eeeeee;
}

.to-do-item-expand-collapse-button,
.to-do-item-confirm-button {
    grid-area: 1 / 1 / 2 / 2;
}
.to-do-item-completed-item-button {
    grid-area: 2 / 1 / 3 / 2;
}
.to-do-item-delete-button {
    grid-area: 3 / 1 / 4 / 2;
}
.to-do-item-expand-collapse-button,
.to-do-item-confirm-button,
.to-do-item-completed-item-button,
.to-do-item-delete-button {
    font-size: 1.9rem;
    width: 2.4rem;
    height: 2.4rem;
    border: none;
    color: rgb(160, 160, 160);
    background-color: #ffffff;
    box-shadow: 0px 4px 5px -0px rgba(128, 128, 128, 0.3);
    margin: 0px;
    padding: 0px;
}
.to-do-item-expand-collapse-button:hover,
.to-do-item-confirm-button:hover,
.to-do-item-completed-item-button:hover,
.to-do-item-delete-button:hover {
    color: rgb(146, 146, 146);
    background-color: #eeeeee;
}
.to-do-item-expand-collapse-button:active,
.to-do-item-confirm-button:active,
.to-do-item-completed-item-button:active,
.to-do-item-delete-button:active {
    color: rgb(110, 110, 110);
    background-color: #cfcfcf;
}

.to-do-item-top-bar-information {
    grid-area: 1 / 2 / 2 / -1;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    background-color: #ffffff;
    box-shadow: 0px 4px 5px -0px rgba(128, 128, 128, 0.3);
    height: 2.4rem;
    gap: 10px;
    padding: 0.0rem 0.4rem;
}

.to-do-item-edit-name {
    color: rgb(122, 122, 122);
    align-self: center;
    vertical-align: middle;
    width: 100%;
    height: 1.7rem;
    line-height: 1.7rem;
}

.to-do-item-name {
    vertical-align: middle;
    font-family: var(--nunito-font-family);
    font-size: 1.2rem;
    color: rgb(50, 50, 50);
    background-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    border-radius: 0.2rem;
    width: min(500px, calc(100% - 2rem));
    margin-left: 0.3rem;
}
.to-do-item-name:hover {
    outline: 1px solid rgb(128, 128, 128);
}
.to-do-item-name:focus {
    outline: 2px solid rgb(70, 70, 70);
}
.to-do-item-name:placeholder-shown {
    font-size: 0.9rem;
}

.to-do-item-due-date {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: end;
    text-align: right;
    font-size: 0.8rem;
    font-weight: normal;
    color: rgb(70, 70, 70);
    white-space: nowrap;
}
::-webkit-datetime-edit {
    display: none;
}
::-webkit-calendar-picker-indicator {
    font-size: 1rem;
    appearance: none;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
}
.to-do-item-due-date-picker {
    grid-area: 1 / 3 / 2 / 4;
    border: none;
    outline: none;
    padding: 0.1rem;
    margin: 0px;
    background-color: transparent;
}
.to-do-item-due-date-picker:hover {
    outline: 1px solid rgb(128, 128, 128);
    border-radius: 0.2rem;
}
.to-do-item-due-date-picker:focus {
    outline: 2px solid rgb(70, 70, 70);
    border-radius: 0.2rem;
}

.to-do-item-priority {
    grid-area: 1 / 4 / 2 / 5;
    justify-self: end;
    display: flex;
    flex-wrap: nowrap;
}
.to-do-item-priority-star {
    color: rgb(70, 70, 70);
    font-size: 1.0rem;
}
/* Using sibling selectors to access all 5 priority stars */
.to-do-item-priority:not(:hover) .to-do-item-priority-star-on,
.to-do-item-priority-star:hover,
.to-do-item-priority-star:hover + .to-do-item-priority-star,
.to-do-item-priority-star:hover + .to-do-item-priority-star + .to-do-item-priority-star,
.to-do-item-priority-star:hover + .to-do-item-priority-star + .to-do-item-priority-star + .to-do-item-priority-star,
.to-do-item-priority-star:hover + .to-do-item-priority-star + .to-do-item-priority-star + .to-do-item-priority-star + .to-do-item-priority-star {
    color: rgb(255, 202, 56);
}

.to-do-item-expanded-information {
    margin-top: -0.4rem;
    grid-area: 2 / 2 / 5 / -1;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ffffff;
    box-shadow: 0px 4px 5px -0px rgba(128, 128, 128, 0.3);
    padding: 0.0rem 0.4rem 0.4rem 0.4rem;
    gap: 0.5rem;
}

.to-do-item-description {
    grid-area: 1 / 1 / 2 / 3;
    display: block;
}
.to-do-item-description-label {
    display: flex;
    font-size: 0.85rem;
    color: rgb(122, 122, 122);
    gap: 0.3rem;
}
.to-do-item-description-input {
    resize: none;
    font-family: var(--nunito-font-family);
    font-size: 0.8rem;
    font-style: italic;
    color: rgb(50, 50, 50);
    background-color: transparent;
    border: none;
    border-radius: 0.2rem;
    width: 100%;
}
.to-do-item-description-input:hover {
    outline: 1px solid rgb(128, 128, 128);
    border-radius: 0.2rem;
}
.to-do-item-description-input:focus {
    outline: 2px solid rgb(70, 70, 70);
    border-radius: 0.2rem;
}

.to-do-item-notes::before {
    content: "Notes";
}.to-do-item-checklist::before {
    content: "Checklist";
}
.to-do-item-notes::before,
.to-do-item-checklist::before {
    font-size: 0.8rem;
    color: rgb(66, 66, 66);
}
.to-do-item-notes {
    grid-area: 2 / 1 / 3 / 2;
}
.to-do-item-checklist {
    grid-area: 2 / 2 / 3 / 3;
}
.to-do-item-notes,
.to-do-item-checklist {
    display: grid;
    grid-template-rows: repeat(2, auto);
    align-self: start;
}
.to-do-item-notes-list,
.to-do-item-checklist-list {
    display: grid;
    grid-template-rows: auto;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.to-do-item-notes-list-item {
    grid-template-columns: 1fr auto;
}
.to-do-item-checklist-list-item {
    grid-template-columns: auto 1fr auto;
}
.to-do-item-notes-list-item,
.to-do-item-checklist-list-item {
    display: grid;
    gap: 0.2rem;
    margin-bottom: 0.3rem;
}
.to-do-item-checklist-list-item-checkbox {
    appearance: none;
    align-self: center;
    outline: 1px solid rgb(180, 180, 180);
    border: none;
    border-radius: 0.2rem;
    width: 1rem;
    height: 1rem;
}
.to-do-item-checklist-list-item-checkbox:hover:not(:checked) {
    outline: 1px solid rgb(114, 114, 114);
}
.to-do-item-checklist-list-item-checkbox:checked {
    outline: none;
    background-color: #47d147;
}
.to-do-item-checklist-list-item-checkbox:hover:checked {
    outline: 1px solid rgb(70, 70, 70);
    background-color: #47d147;
}
.to-do-item-checklist-list-item-checkbox:active:not(:checked),
.to-do-item-checklist-list-item-checkbox:active:checked {
    outline: 2px solid rgb(70, 70, 70);
    background-color: #47d147;
}
.to-do-item-notes-list-item-input,
.to-do-item-checklist-list-item-input {
    resize: none;
    font-family: var(--nunito-font-family);
    font-size: 0.8rem;
    color: rgb(50, 50, 50);
    background-color: transparent;
    outline: 1px solid rgb(180, 180, 180);
    border: none;
    border-radius: 0.2rem;
    color: rgb(50, 50, 50);
}
.to-do-item-notes-list-item-input:hover,
.to-do-item-checklist-list-item-input:hover {
    outline: 1px solid rgb(114, 114, 114);
    border-radius: 0.2rem;
}
.to-do-item-notes-list-item-input:focus,
.to-do-item-checklist-list-item-input:focus {
    outline: 2px solid rgb(70, 70, 70);
    border-radius: 0.2rem;
}
.to-do-item-notes-list-item-input:placeholder-shown,
.to-do-item-checklist-list-item-input:placeholder-shown {
    font-style: italic;
}
.to-do-item-checklist-list-item-checkbox:checked + .to-do-item-checklist-list-item-input {
    background-color: rgba(98, 223, 49, 0.15);
}
.to-do-item-notes-list-item-delete-button,
.to-do-item-checklist-list-item-delete-button {
    align-self: center;
    color: rgb(66, 66, 66);
    background-color: transparent;
    font-size: 0.8rem;
    font-weight: normal;
    outline: 1px solid rgb(180, 180, 180);
    border: none;
    border-radius: 0.2rem;
    width: 1rem;
    height: 1rem;
    padding: 0px;
}
.to-do-item-notes-list-item-delete-button:hover,
.to-do-item-checklist-list-item-delete-button:hover {
    color: rgb(236, 236, 236);
    background-color: #f54e4e;
    outline: none;
    box-shadow: 0px 4px 5px -0px rgba(128, 128, 128, 0.3);
}
.to-do-item-notes-list-item-delete-button:active,
.to-do-item-checklist-list-item-delete-button:active {
    color: rgb(236, 236, 236);
    background-color: #c51717;
}
.to-do-item-notes-new-note-button,
.to-do-item-checklist-new-checklist-item-button {
    color: rgb(66, 66, 66);
    background-color: transparent;
    font-size: 0.8rem;
    font-weight: normal;
    outline: 1px solid rgb(180, 180, 180);
    border: none;
    border-radius: 0.2rem;
    height: 1.2rem;
}
.to-do-item-notes-new-note-button:hover,
.to-do-item-checklist-new-checklist-item-button:hover {
    color: rgb(236, 236, 236);
    background-color: #47d147;
    outline: none;
    box-shadow: 0px 4px 5px -0px rgba(128, 128, 128, 0.3);
}
.to-do-item-notes-new-note-button:active,
.to-do-item-checklist-new-checklist-item-button:active {
    color: rgb(236, 236, 236);
    background-color: #22ad22;
}
