.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    align-self: center;
    font-size: 1.7rem;
    font-weight: bold;
    white-space: nowrap;
}

.project-count {
    align-self: center;
    font-size: 0.9rem;
    font-weight: normal;
    white-space: nowrap;
}

.content .project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    justify-content: center;
    align-content: start;
    gap: 20px;
    padding: 20px;
}

.content .project-panel,
.content .new-project-panel {
    display: grid;
    grid-template-rows: 1fr repeat(2, auto);
    text-align: center;
    border-radius: 0.6rem;
    height: 280px;
    padding: 16px 18px 14px 18px;
    gap: 6px;
}
.content .project-panel {
    outline: 1px solid #6d6d6d;
    grid-template-rows: 1fr repeat(2, auto);
    background-image: linear-gradient(180deg, rgb(30, 148, 216), rgb(30, 148, 216) 8px, rgb(255, 255, 255) 8px);
}
.content .new-project-panel {
    grid-template-rows: auto 1fr;
    background-color: transparent;
    outline: 2px dashed #6d6d6d;
}
.content .project-panel:hover {
    background-image: linear-gradient(180deg, rgb(30, 148, 216), rgb(30, 148, 216) 8px, rgb(255, 255, 255) 8px);
    box-shadow: 0px 4px 5px -0px rgba(128, 128, 128, 0.3);
}
.content .new-project-panel:hover {
    outline: 2px dashed #080808;
}
.content .new-project-panel:active {
    background-color: rgba(128, 128, 128, 0.07);
}
.content .new-project-panel-name,
.content .project-panel-name {
    font-size: 1.4rem;
}
.content .project-panel-number-of-items {
    font-size: 0.6rem;
}
.content .project-panel-date-created {
    font-size: 0.8rem;
}
.content .new-project-panel-plus {
    align-self: center;
    color: rgb(46, 46, 46);
    font-size: 5rem;
    font-weight: normal;
}
.content .project-panel-separator {
    justify-self: center;
    border-radius: 9999px;
    width: 104%;
    height: 2px;
    background-color: #dadada;
    margin-bottom: 6px;
}
.content .project-panel-buttons-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 6px;
}
.content .project-panel-buttons-edit,
.content .project-panel-buttons-delete {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 9999px;
    color: white;
    text-align: center;
}
.content .project-panel-buttons-edit {
    background-color: #31c22c;
}
.content .project-panel-buttons-edit:hover {
    background-color: #4bdb46;
}
.content .project-panel-buttons-edit:active {
    background-color: #23aa1f;
}
.content .project-panel-buttons-delete {
    background-color: #e73333;
}
.content .project-panel-buttons-delete:hover {
    background-color: #f54e4e;
}
.content .project-panel-buttons-delete:active {
    background-color: #c51717;
}

.new-project-form-cover {
    display: grid;
    place-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.new-project-form {
    display: grid;
    grid-template-rows: auto;
    border-radius: 1.2rem;
    background-color: #fff;
    padding: 14px;
    gap: 10px;
}

.new-project-form-close-button,
.new-project-form-create-project-button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 9999px;
    color: white;
    text-align: center;
    font-size: 1rem;
    padding: 0px;
}
.new-project-form-close-button {
    justify-self: end;
    background-color: #e73333;
    margin-bottom: 1rem;
}
.new-project-form-close-button:hover {
    background-color: #f54e4e;
}
.new-project-form-close-button:active {
    background-color: #c51717;
}
.new-project-form-create-project-button {
    justify-self: center;
    background-color: #31c22c;
    margin-top: 1rem;
}
.new-project-form-create-project-button:hover {
    background-color: #4bdb46;
}
.new-project-form-create-project-button:active {
    background-color: #23aa1f;
}

.new-project-form > li {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 10px;
}
.new-project-form > li > input[required]:valid {
    outline-color: rgb(31, 187, 0);
    background-color: rgba(123, 255, 106, 0.18);
    border-color: rgb(31, 187, 0);
}
.new-project-form > li > input[required]:focus:invalid,
.new-project-form > li > input[required]:not(:placeholder-shown):invalid,
.new-project-form > li > input[required].name-taken {
    outline-color: red;
    background-color: rgba(255, 106, 106, 0.18);
    border-color: red;
}

.new-project-form-name > label {
    position: relative;
    font-size: 0.9rem;
    white-space: nowrap;
}
.new-project-form > li > label::before {
    position: absolute;
    font-size: 0.6rem;
    white-space: nowrap;
    color: transparent;
    content: attr(help);
    font-weight: normal;
    top: 1.4rem;
}
.new-project-form-name > input:not(:placeholder-shown).name-taken + label::before {
    color: red;
}

.new-project-form-name > input {
    font-size: 0.7rem;
    border-radius: 6px;
    border: 1px solid #000;
    min-width: 80px;
    width: 320px;
}