/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Righteous&family=Staatliches&display=swap');

:root {
    --nunito-font-family: Nunito, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --righteous-font-family: Righteous, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
}

.no-select {
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Old versions of Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently
                                       supported by Chrome, Edge, Opera and Firefox */
}

h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Nunito, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: var(--nunito-font-family);
    margin: 0;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    height: 100vh;
}

.page {
    display: grid;
    grid-template-rows: auto 1fr;
    width: inherit;
    height: 100vh;
}

.header {
    grid-area: 1 / 1 / 2 / -1;
    background-color: #ffffff;
    padding: 30px 10px;
    box-shadow: 0px 4px 5px -0px rgba(128, 128, 128, 0.3);
    z-index: 0;
}
.header > .title {
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    white-space: nowrap;
}

.content {
    grid-area: 2 / 1 / -1 / -1;
    padding: 20px;
    background-color: #e4e4e4;
}

.new-project-form-cover {
    display: grid;
    place-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.3);
}

.new-project-form {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: minmax(300px, 450px);
    border-radius: 1.2rem;
    background-color: #fff;
    padding: 14px;
}

.new-project-form-close-button {
    justify-self: end;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 9999px;
    color: white;
    background-color: #e73333;
    text-align: center;
    font-size: 1rem;
    padding: 0px;
}
.new-project-form-close-button:hover {
    background-color: #f54e4e;
}
.new-project-form-close-button:active {
    background-color: #c51717;
}